<div class="profile-container">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <h1>User Profile</h1>
    <p><strong>Name: </strong>{{ user?.name }}</p>
    <p><strong>Email: </strong>{{ user?.email }}</p>

    <br />

    <p><b>To SCP your data, enter the following in the terminal:</b></p>
    <p>scp [local file] [username]@3.129.210.205:/home/users/[username]</p>
    <br />

    <p><b>Use the below credentials to SCP your raw data.</b></p>
    <p><strong>Username: </strong>{{ scpUsername }}</p>
    <p>
      <strong>Password: </strong>
      <span *ngIf="!showPassword">********</span>
      <span *ngIf="showPassword">{{ scpPassword }}</span>
      <button (click)="togglePasswordVisibility()">
        {{ showPassword ? "Hide" : "Show" }}
      </button>
      <button (click)="regeneratePassword()">Regenerate Password</button>
    </p>

    </div>
</div>
