<div
  nz-row
  nzJustify="space-around"
  nzAlign="middle"
  style="margin-top: 100px">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <img
      height="30"
      src="../../../../../assets/logos/uci-cncm-logo-horizontal.png"
      alt="logo" />
    <h2>Alzheimer's Disease Multimodal Atlasing Project</h2>
    <p>
      <br />
      The Alzheimer's Disease Multimodal Atlasing Project (ADMAP) is a collaborative initiative at the UCI Center for Neural Circuit Mapping.
      <br />
      It aims to advance research on Alzheimer's disease by providing a platform for researchers to upload, explore, and download datasets.
      <br />
    </p>
  </div>
</div>
