<div
  nz-row
  nzJustify="space-around"
  nzAlign="middle"
  style="margin-top: 100px">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <img
      height="30"
      src="../../../../../assets/logos/uci-cncm-logo-horizontal.png"
      alt="logo" />
    <h2>Alzheimer's Disease Multimodal Atlasing Project</h2>
    <p>
      <br />
      <i>ADMAP is a site for researchers to upload, browse, and download datasets.</i>
      <br />
    </p>
  </div>
  <texera-local-login
    *ngIf="localLogin"
    nz-col
    nzFlex="300px">
  </texera-local-login>
</div>
