<div
  class="about-page-container"
  nz-row
  nzJustify="space-around"
  nzAlign="middle">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <img
      height="30"
      src="../../../../../assets/logos/uci-cncm-logo-horizontal.png"
      alt="logo" />
    <h1>Alzheimer's Disease Multimodal Atlasing Project</h1>

    <p>
      <br />
      The Alzheimer's Disease Multimodal Atlasing Project (ADMAP) is a collaborative initiative at the UCI Center for Neural Circuit Mapping.
      <br />
      It aims to advance research on Alzheimer's disease by providing a platform for researchers to upload, explore, and download datasets.
      <br />
    </p>

    <h2 class="content-title">Key Features</h2>
    <ul class="text-content">
      <li>Comprehensively characterize brain circuits susceptible to Alzheimer's disease type pathology and/or neurodegeneration in mouse models of Alzheimer's disease (AD).</li>
      <li>Share data on the cellular connectome in the aging and AD brain in a common reference brain cell atlas that integrates both molecular and anatomical annotations.</li>
      <li>Complement and extend research on vulnerable cell types to include the mapping of connectivity changes between cells in aging and AD and provide a greater understanding of the mechanisms underlying resilience and vulnerability in AD.</li>
    </ul>
  </div>
</div>
