<div class="landing-page-container">
  <div class="section-intro">
    <div class="section-intro-text">
      <h1>ADMAP</h1>
      <p>
        UC Irvine Alzheimer's Disease Multimodal Atlasing Project
      </p>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="search-bar-wrapper">
    <texera-search-bar></texera-search-bar>
  </div>

  <texera-browse-section
    [workflows]="topLovedDatabases"
    sectionTitle="Top Loved Databases">
  </texera-browse-section>
  <texera-browse-section
    [workflows]="topClonedDatabases"
    sectionTitle="Top Cloned Databases">
  </texera-browse-section>
</div>
